<div class="wrap">
    <form [formGroup]="quizForm" (ngSubmit)="onQuizSubmit()">
        <h1>New quiz</h1>
        <button type="submit" class="button button-primary" [disabled]="!quizForm.dirty">Save <i class="far fa-save"></i></button>
        <div id="spq-box-wrap">
            <div class="spq-box-container-3">
                <div class="spq-box">
                    <h2>Basic info</h2>
                    <div class="spq-inside">
                        <div class="spq-input-wrap">
                            <input type="text" class="spq-input" autocomplete="off" placeholder="Title" 
                                   formControlName="title" [ngClass]="{ 'is-invalid': quizSubmitted && f.title.errors }" required>
                            <div *ngIf="quizSubmitted && f.title.errors" class="invalid-feedback">
                                <div *ngIf="f.title.errors.required">Title is required</div>
                            </div>
                        </div>                     
                        <div class="spq-input-wrap">
                            <textarea class="spq-textarea" formControlName="description" placeholder="Description"></textarea>
                        </div>                      
                        <div class="spq-input-wrap">
                            <textarea class="spq-textarea" formControlName="summary" placeholder="Summary"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spq-box-container-3">
                <div class="spq-box">
                    <h2>Settings</h2>
                    <div class="spq-inside">                     
                        <div class="spq-input-wrap">
                            <input type="text" class="spq-input" placeholder="Duration" formControlName="duration" 
                                   [ngClass]="{ 'is-invalid': quizSubmitted && f.duration.errors }">                                   
                            <div *ngIf="quizSubmitted && f.duration.errors" class="invalid-feedback">
                                <div *ngIf="f.duration.errors.pattern">Only numbers are allowed</div>
                            </div>
                        </div> 
                        <div class="spq-input-wrap">
                            <input type="text" class="spq-input" placeholder="Gap between submissions" formControlName="nextSubmissionAfter" 
                                   [ngClass]="{ 'is-invalid': quizSubmitted && f.nextSubmissionAfter.errors }">                                   
                            <div *ngIf="quizSubmitted && f.nextSubmissionAfter.errors" class="invalid-feedback">
                                <div *ngIf="f.nextSubmissionAfter.errors.pattern">Only numbers are allowed</div>
                            </div>
                        </div> 
                        <div class="spq-input-wrap">
                            <input type="text" class="spq-input" placeholder="Enter time active" formControlName="timeActive" 
                                   [ngClass]="{ 'is-invalid': quizSubmitted && f.timeActive.errors }">                                  
                            <div *ngIf="quizSubmitted && f.timeActive.errors" class="invalid-feedback">
                                <div *ngIf="f.timeActive.errors.pattern">Only numbers are allowed</div>
                            </div>
                        </div>
                        <div class="spq-input-wrap">
                            <input type="checkbox" formControlName="paginated">
                            <label>Paginated?</label>
                        </div>
                        <div class="spq-input-wrap">
                            <input type="text" class="spq-input" placeholder="Questions per page" formControlName="perPage" 
                                 [ngClass]="{ 'is-invalid': quizSubmitted && f.perPage.errors }">                                 
                            <div *ngIf="quizSubmitted && f.perPage.errors" class="invalid-feedback">
                                <div *ngIf="f.perPage.errors.pattern">Only numbers are allowed</div>
                            </div> 
                        </div>
                        <div class="spq-input-wrap">
                            <input type="checkbox" formControlName="randomQuestions">
                            <label>Random questions?</label>
                        </div>
                        <div class="spq-input-wrap">
                            <input type="checkbox" formControlName="randomAnswers">
                            <label>Random answers?</label>
                        </div>
                        <div class="spq-input-wrap">
                            <input type="checkbox" formControlName="immediateAnswers">
                            <label>Immediate answers?</label>
                        </div>
                        <div class="spq-input-wrap">
                            <input type="checkbox" formControlName="restrictSubmissions">
                            <label>Restrict submissions?</label>
                        </div>
                        <div class="spq-input-wrap">
                            <input type="text" class="spq-input" placeholder="Number of allowed submissions" formControlName="allowedSubmissions" 
                                 [ngClass]="{ 'is-invalid': quizSubmitted && f.allowedSubmissions.errors }">                                
                            <div *ngIf="quizSubmitted && f.allowedSubmissions.errors" class="invalid-feedback">
                                <div *ngIf="f.allowedSubmissions.errors.pattern">Only numbers are allowed</div>
                            </div> 
                        </div>                        
                    </div>                    
                </div>
            </div>
            <div class="spq-box-container-3">
                <div class="spq-box">
                    <h2>New question</h2>
                    <div class="spq-inside">
                        <div formGroupName="question">
                            <div class="spq-input-wrap">
                              <input type="text" class="spq-input" placeholder="Enter title" formControlName="title" 
                                     [ngClass]="{ 'is-invalid': questionSubmitted && quizForm.get('question.title').errors }" required>
                              <div *ngIf="questionSubmitted && quizForm.get('question.title').errors" class="invalid-feedback">
                                  <div *ngIf="quizForm.get('question.title').errors.required">Title is required</div>
                              </div>
                            </div>
                            <div class="spq-input-wrap">
                              <textarea class="spq-textarea" rows="3" formControlName="description"></textarea>
                            </div>      
                            <div class="spq-input-wrap">
                              <select class="form-control" formControlName="type" [ngClass]="{ 'is-invalid': questionSubmitted && quizForm.get('question.type').errors }">
                                <option value="" disabled selected>Type</option>
                                <option>radio</option>
                                <option>multi</option>
                                <option>sort</option>
                                <option>range</option>
                                <option>select</option>
                              </select>
                              <div *ngIf="questionSubmitted && quizForm.get('question.type').errors" class="invalid-feedback">
                                  <div *ngIf="quizForm.get('question.type').errors.required">Type is required</div>
                              </div>        
                            </div>
                            <div class="spq-input-wrap">
                              <textarea class="spq-textarea" rows="3" formControlName="hint"></textarea>
                            </div>
                            <div class="spq-input-wrap">
                                <input type="checkbox" formControlName="isObligatory">
                                <label>Obligatory?</label>
                            </div>
                            
                            <h3>Answers</h3>
                            <button type="button" class="button button-primary" (click)="addAnswer()">Add answer</button>
                            <div>
                              <ul class="list-group" formArrayName="answers">
                                  <li class="list-group-item" *ngFor="let answer of quizForm.get('question.answers')?.controls; let i = index;">
                                      <i *ngIf="!answerListState[i] || answerListState[i]==0; else answerChevronUp" 
                                         class="fas fa-chevron-down float-right m-1" 
                                         data-toggle="collapse" 
                                         [attr.data-target]="'#answerContent_' + i"
                                         (click)="toogleAnswerChevron(i)">
                                      </i>
                                      <i class="fas fa-trash-alt float-right m-1" (click)="deleteAnswer($event, i)"></i>
                                      <ng-template #answerChevronUp>
                                        <i class="fas fa-chevron-up float-right m-1" 
                                          data-toggle="collapse" 
                                          [attr.data-target]="'#answerContent_' + i"
                                          (click)="toogleAnswerChevron(i)">
                                        </i>
                                      </ng-template>
                                      <div class="collapse" id="answerContent_{{i}}">
                                          <div class="card card-body">                
                                              <div [formGroupName]="i">
                                                  <div class="form-group">
                                                      <label for="answerTitle_{{i}}">Title</label>
                                                      <input type="text" class="form-control" id="answerTitle_{{i}}" formControlName="title" 
                                                             [ngClass]="{ 'is-invalid': questionSubmitted && answer?.controls.title.errors }" required>
                                                      <div *ngIf="questionSubmitted && answer?.controls.title.errors" class="invalid-feedback">
                                                          <div *ngIf="answer?.controls.title.errors.required">Title is required</div>
                                                      </div>            
                                                  </div>
                                                  <div class="form-group form-check">
                                                      <input type="checkbox" class="form-check-input" id="answerCorrect_{{i}}" formControlName="isCorrect">
                                                      <label class="form-check-label" for="answerCorrect_{{i}}">Correct answer</label>
                                                  </div>     
                                                  <div class="form-group">
                                                      <label for="answerMessage_{{i}}">Message</label>
                                                      <textarea class="form-control" id="answerMessage_{{i}}" rows="3" formControlName="message"></textarea>
                                                  </div>
                                                    <div class="form-group">
                                                      <label for="answerPoints_{{i}}">Points</label>
                                                      <input type="text" class="form-control" id="answerPoints_{{i}}" 
                                                             placeholder="Enter points" formControlName="points" 
                                                             [ngClass]="{ 'is-invalid': questionSubmitted && answer?.controls.points.errors }">
                                                      <div *ngIf="questionSubmitted && answer?.controls.points.errors" class="invalid-feedback">
                                                          <div *ngIf="answer?.controls.points.errors.pattern">Only numbers are allowed</div>
                                                      </div>               
                                                    </div>                                                  
                                              </div>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                            </div>
                            <button type="button" class="button button-primary" (click)="addQuestion()">Add question</button>                            
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="spq-box-container-3">
                <div class="spq-box">
                    <h2>List of questions</h2>
                    <div class="spq-inside">
                        <ul
                          cdkDropList
                          #questionsList="cdkDropList"
                          [cdkDropListData]="questions"
                          [cdkDropListConnectedTo]="[tmpQuestionsList]"
                          class="list-group"
                          (cdkDropListDropped)="drop($event)">

                          <li class="list-group-item" *ngIf="questions.length==0">
                            <div class="example-custom-placeholder"></div>
                          </li>

                          <li class="list-group-item" *ngFor="let question of questions; let i = index" cdkDrag>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <span class="badge badge-info">{{ i+1 }}</span> 
                            {{ question.title }}
                            <i class="fas fa-arrows-alt float-right m-1" cdkDragHandle></i> 
                            <i class="fas fa-trash-alt float-right m-1" (click)="deleteQuestion($event, 'questions', i)"></i>
                            <i class="far fa-clone float-right m-1" (click)="cloneQuestion($event, question)"></i>
                            <i class="fas fa-cogs float-right m-1" (click)="edit($event, question)"></i>
                            <i *ngIf="!listState[i] || listState[i]==0; else chevronUp" 
                               class="fas fa-chevron-down float-right m-1" 
                               data-toggle="collapse" 
                               [attr.data-target]="'#questionContent_' + i"
                               (click)="toogleQuestionChevron(i)">
                            </i>
                            <ng-template #chevronUp>
                              <i class="fas fa-chevron-up float-right m-1" 
                                data-toggle="collapse" 
                                [attr.data-target]="'#questionContent_' + i"
                                (click)="toogleQuestionChevron(i)">
                              </i>
                            </ng-template>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <div class="collapse" id="questionContent_{{i}}">
                              <div class="card card-body">
                                  <p>Desc: {{ question.description }}</p>
                                  <p>Hint: {{ question.hint }}</p>
                                  <p>Type: {{ question.type }}</p>
                                  <p>Obligatory: {{ question.isObligatory }}</p>
                                  <p>Answers:</p>
                                  <div *ngFor="let answer of question.answers">
                                      <p>Title: {{ answer.title }}</p>
                                      <p>Correct: {{ answer.isCorrect }}</p>
                                      <p>Message: {{ answer.message }}</p>
                                      <p>Points: {{ answer.points }}</p>
                                  </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                    </div>
                </div>
                <div class="spq-box">
                    <h2>Temp questions</h2>
                    <div class="spq-inside">
                        <ul
                          cdkDropList
                          #tmpQuestionsList="cdkDropList"
                          [cdkDropListData]="tmpQuestions"
                          [cdkDropListConnectedTo]="[questionsList]"
                          class="list-group"
                          (cdkDropListDropped)="drop($event)">

                          <li class="list-group-item" *ngIf="tmpQuestions.length==0">
                            <div class="example-custom-placeholder"></div>
                          </li>

                          <li class="list-group-item" *ngFor="let question of tmpQuestions; let i = index" cdkDrag>
                            <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                            <span class="badge badge-info">{{ i+1 }}</span> 
                            {{ question.title }}
                            <i class="fas fa-arrows-alt float-right m-1" cdkDragHandle></i>       
                            <i class="fas fa-trash-alt float-right m-1" (click)="delete($event, 'tmpQuestions', i)"></i>
                          </li>
                        </ul>                        
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

